    @{
        ViewData["Title"] = "About_Us";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About Us</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    </head>
    <body>
    <div class="chooseMain">
        <p class="mainPara">ABOUT US_________?</p>
        <h2 class="mainHeading">Why Choose KhumaloCraft Emporium</h2>
          <div class="chooseInner">
        <div class="chooseCard">
           <h3 class="text-center">Our Story</h3>
              <blockquote class="blockquote pb-2">
                <p>
                  <p>Bongani Khumalo joined the Craft Market at Spier back in 2011 and his beaded wire art sculptures of African animals have since found homes in collections all over the world. From full-size animals to trophy heads and 2D masks his animals have a life of their own and a beautiful sense of movement. <br>
                   <br>
                  <i class="fas fa-angle-double-left" style="color: #f9a169;"></i>
                  <p> "I’ve been doing beaded wire art for a long time. In 1999 it was still just wire, then around 2003 we started incorporating beads into the wirework. I was making in a workshop for a company for six years until 2010 when I started my own company. It was hard when I started on my own. You don’t have anywhere to sell, you don’t have any customers. In 2011 I applied to join the market here at Spier and my first year I started off on a high note selling well.
                   I’ve only had one season when I was down, I hadn’t put much stock here and didn’t spend enough time here at the market, but all the other years my sales have been steadily climbing. I try to give myself some challenges, doing some new products, improving the ones I’ve got already." </p>
                  <i class="fas fa-angle-double-right" style="color: #f9a169;"></i>
                  </p>
              </blockquote>
        </div>
    <div class="row">
        <div class="col-md-4">
        <div class="chooseCard">
            <h3>Our Mission</h3>
               <blockquote class="blockquote pb-2">
                <p>To empower artisans worldwide by providing a cutting-edge e-commerce platform that connects their handcrafted products with a global audience, fostering cultural exchange and economic empowerment.</p>
              </blockquote>
        </div>
       </div>
        <div class="col-6 col-md-8">
          <div class="chooseCard">
          <h3>Our Vision</h3>
         <blockquote class="blockquote pb-2">
          <p> We envision KhumaloCraft Emporium as the premier destination for handcrafted products, renowned for its seamless user experience, global accessibility, and commitment to showcasing the artistry and craftsmanship of artisans worldwide. Through continuous innovation and a dedication to excellence, we aim to revolutionize the way people discover, appreciate, and purchase unique, artisanal creations.</p>
        </blockquote>
         </div>
       </div>
    </div>
    <div class="chooseCard">
       <h3 class="text-center">Business Operations and Management</h3>
        <blockquote class="blockquote pb-2">
        <p> We, as a team at KhumaloCraft Emporium, consist of six individuals collaborating closely on our projects. Among our tasks, crafting standing animals demands a significant amount of time and skill, as it requires a unique expertise not everyone possesses. Each shape is meticulously formed by our team members. Presently, one of our team members is being trained in frame-making. However, we understand that the finishing touches, such as muscle definition and movement, require the artistic eye and expertise of our team, so we ensure that these details are handled by our skilled artisans. </p>
        </blockquote>
    </div>
    </div>
  </div>
 </body>
</html>